@media only screen and (min-width: 1000px) {

    body {
        margin: 0px;
        padding: 0px;
        background-color: black;

    }

    html {
        scroll-behavior: smooth;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }


    #main {
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 10fr 1fr;

        /* background-color: #edf1fd; */
        /* display: grid; */
        /* position: relative; */
        /* //photo in suit */

        overflow: hidden;
        background-color: #f4f7ff;
        /* background-position: right bottom; */

    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 3px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 50px;
        background-color: #f4f7ff;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
        /* If two positioned elements overlap without a z-index specified, the element positioned last in the HTML code will be shown on top.  */
        z-index: 1;
    }

    .menu {
        display: flex
    }

    .menu li a {
        padding: 10px 15px;
        color: #6c707c;
        font-size: 12px;
    }

    .lang {
        color: #292929;

    }

    .logo {
        font-size: 25px;
        font-weight: bold;
        color: #292929;
        font-family: Poppins;
    }

    .toggle {
        display: none;
    }

    .menu li a:hover,
    .active {
        background-color: #292929;
        /* The !important rule in CSS is used to add more importance to a property/value than normal.
    In fact, if you use the !important rule, it will override ALL previous styling rules for that specific property on that element! */
        color: #ffffffff !important;
        font-weight: 600;
        transition: all ease 0.5s;
    }

    .name {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 100%;
        height: 100%;
        display: grid;
        /* grid-template-rows: repeat(auto-fit, minMax(10px, 1fr)); */
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: repeat(10, 1fr);
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        grid-column: 1/2;
        grid-row: 2/3;
        box-sizing: border-box;
        justify-self: center;
        align-self: center;
        grid-template-rows: repeat;
        overflow: hidden;
        /* position: absolute; */
        /* left: 20%;
        top: 50%; */
        /* margin-left: 20px;
        margin-top: 100px; */
        /* !* to practice transform */
        /* https://www.youtube.com/watch?v=rzD-cPhq02E */
        /* the first argument is the X direction and the second the Y direction */
        /* -20% of its own width */
        /* transform: translate(-20%, -50%); */
    }

    .name img {
        display: none;
    }

    .name_contain {
        display: grid;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        text-align: start;
        grid-column: 2/3;
        grid-row: 3/8;
        overflow: hidden;
    }

    .name_right {
        display: grid;
        grid-column: 2/3;
        grid-row: 2/3;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-content: center;
        overflow: hidden;
        /* background-color: purple; */
        /* background-image: url("../images/bgf.jpg");
        background-size: 90%;
        background-repeat: no-repeat;
        background-size: 100% auto;*/
    }

    .name_right img {
        /* width: 90%;
        height: 90%; */
        object-fit: fill;

    }


    */ .name p:nth-child(1),
    .name .details {
        color: #6c707c;
        font-size: 16px;
    }

    .name h1 {
        font-family: Poppins;
        font-size: 3rem;
        margin: 0px;
        letter-spacing: 3px;
        color: #292929;
    }

    .cv-btn {
        width: 200px;
        height: 45px;
        display: flex;
        background-color: #292929;
        color: #ffffffff;
        justify-content: center;
        align-items: center;

    }

    .cv-btn:hover {
        background-color: #131313;
        transition: all ease 0.5s;
    }

    .social {
        /* position: absolute;
        left: 50px;
        bottom: 50px; */
        display: flex;
        grid-row: 8/9;
        grid-column: 2/3;
        align-items: end;
        align-self: end;
        height: 60%;
        width: 100%;
        object-fit: contain;

        /* letter-spacing: 30px; */
    }

    .social a {
        margin: 7px 15px;
        /* gap: 5px; */
        cursor: pointer;
        display: flex;


    }

    .social i {
        color: rgba(18, 17, 17, 0.4);
        font-size: 15px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-self: start;
        justify-content: start;
        object-fit: contain;
    }

    .social a:hover i {
        color: #17d1ac;
        transition: all ease 0.5s;
    }

    .arrow {
        align-self: end;
        width: 50%;
        height: 15%;
        margin-bottom: 4em;
        position: absolute;
        bottom: 0px;
        left: -3%;
        border-right: 1px solid rgba(41, 41, 41, 0.3);
    }

    .arrow::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 11px 11px 0px 11px;
        border-color: #292929 transparent transparent transparent;
        right: -0.7em;
        bottom: -2px;
    }

    /* to all the section of about */
    #about {
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 5% 0px 5%;
    }

    .about-text {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 50%;
        padding-right: 40px;
        padding-left: 40px;
    }

    .about-text h1 {
        font-size: 4rem;
        color: #17d1ac;
        font-family: Poppins;

    }

    /* Weight is if font is more or less bold.
    Size is height of font... */
    .about-text h2 {
        font-size: 2.2rem;
        color: #ffffffff;
        font-weight: 400;
    }

    .about-text h1,
    h2 {
        margin: 0px;
        padding: 0px;
    }

    .about-text p {
        font-size: 1.3rem;
        color: rgba(251, 251, 251, 0.90);
        letter-spacing: 2.2px;
        text-align: justify;
        text-justify: inter-word;
        margin-top: 40px;

    }

    .skills {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 100%;

        /* !* to practice transform */
        /* https://www.youtube.com/watch?v=rzD-cPhq02E */
        /* the first argument is the X direction and the second the Y direction */
        /* -20% of its own width */
        /* transform: translate(-20%, -50%); */
        background-color: #edf1fd;
        align-items: center;
        justify-content: center;
        /* margin: auto; */
        text-align: center;
        /* margin-top: 5rem; */
        margin-bottom: 10rem;
        padding-bottom: 5rem;
        /* margin-bottom: 10rem; */
        /* max-width: 68.75rem;
        
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    }

    .skill-header {
        margin-bottom: 1rem;
        padding: 50px;
        font-family: Poppins;
        font-size: 3rem;
        font-weight: 400;
        margin: 20px;
        letter-spacing: 3px;
        color: #292929;

    }

    .skills-wrapper img {
        padding: 0.5rem;
    }

    .icon {
        /* width: 11.875rem; */
        width: 11.7rem;
        height: 10.5rem;
    }

    .icon-card {
        background-color: #ffffffff;
        border-radius: 12px;
        box-shadow: 0 5px 8px #aaffce;
        padding: 20px;
        margin: 10px;
    }

    #projects {
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        box-sizing: border-box;
        margin-top: -4%;
        width: 100%;
        height: 100vh;
        /* display: flex; */
        /* position: relative; */
        /* display: flex; */
        /*align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 1rem; */

    }

    .p-heading {

        font-family: poppins;
        font-size: 2rem;
        text-align: center;
        color: #ffffffff;
        font-weight: 400;
        padding: 10px 20px;
        background-color: #292929;
        letter-spacing: 2.5px;
        border-radius: 3px;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
        width: 10%;
        align-items: center;
        justify-content: center;
        margin: 30px auto 50px auto;
        /* margin-left: 45%; */
    }

    .project-container-project-simon-game {
        width: 33%;
    }

    .project-container-calculator {
        width: 33%;
    }

    .project-p-card {
        width: 33%;
    }

    .projects h2 {
        font-size: 2.2rem;
        color: #ffffffff;
        font-weight: 400;
    }

    .projects h3 {
        font-size: 1.8rem;
        color: #17d1ac;
        font-weight: 370;
    }

    .projects p {
        font-size: 1rem;
        color: #ffffffff;
        font-weight: 250;
        width: 70%;
        margin: 10px auto 0 auto;
    }

    .projects h3 {
        font-size: 1.8rem;
        color: #17d1ac;
        font-weight: 370;
    }


    .project-pic {
        width: 20rem;
        height: 15rem;
        /* background-color: #ffffffff; */
        border-radius: 20px;
        /* box-shadow: 0 5px 8px #aaffce; */
        /* padding: 20px; */
        margin: 10px;
    }

    .projects-container {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
        /* margin: 0px 10px; */
    }

    .container-contact-me {
        background-color: rgba(251, 251, 251, 0.90);
        width: 100%;
        height: 70%;
        /* position: relative; */
        /* margin: 0px auto; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 2rem;
        justify-content: center;
        /* align-items: center; */
        margin: 20px 0px;
        box-sizing: border-box;
        /* border: 1px solid red; */
        box-shadow: 2px 0px 20px #17d1ac;
    }



    .container-contact-me h1 {
        font-size: 2.5rem;
        color: #17d1ac;
        font-family: Poppins;

    }

    #contact-form {
        background-color: rgba(251, 251, 251, 0.90);
        width: 100%;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    #contact-form form {
        display: flex;
        width: 70%;
        /* border: 2px solid red; */
        height: 60vh;
        background-color: #f4f8f7;
        box-shadow: 2px 12px 20px #6c707c;
    }

    .contact-left {
        width: 40%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        display: flex;
    }

    .contact-right {
        width: 60%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        border-left: 5px solid rgba(255, 255, 255, 0.08);
    }

    .btn-submit {
        width: 100%;
    }

    .btn-submit button {
        width: 100%;
    }

    .c-l-heading {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2.5rem;
        letter-spacing: 2px;
        font-weight: 400;

    }

    .f-email,
    .f-name {
        display: flex;
        flex-direction: column;
        /* text-align: center; */
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 22px;
        margin: 5px 0px;

    }

    .f-email input,
    .f-name input {
        height: 2rem;
        width: 250px;
        border: none;
        outline: none;
        background-color: transparent;
        border-bottom: 1px solid #929292;
        margin: 10px 0px;
    }

    .f-email input::placeholder,
    .f-name input::placeholder {
        opacity: 0.6;
        letter-spacing: 1px;

    }

    .f-email input:focus,
    .f-name input:focus {
        border-bottom: 1.2px solid #17d1ac;
        transition: all ease 0.5s;
    }

    .message {
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 20px;
        display: flex;
        flex-direction: column;
        height: 100%;
        /* border: 2px solid red; */
        width: 100%;

    }

    .contact-right textarea {
        justify-content: center;
        height: 80%;
        width: 95%;
        border: 0.5px outline#17d1ac;
        border-style: dashed;
        outline: none;
        background-color: transparent;
        box-sizing: border-box;
        padding: 5px;
        font-size: 16px;
        color: #292929;
        /* margin-top: 15px; */
        margin: 15px auto;

    }

    .contact-right textarea::placeholder {
        color: #ad218f;
        font-size: 18px;
        letter-spacing: 2px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }

    .btn-submit {
        margin: 0px auto;
        justify-content: center;
        text-align: center;
    }

    .contact-right button {
        width: 95%;
        height: 30px;
        background-color: #1ed98b;
        font-weight: bold;
        outline: none;
        border: none;
        justify-content: center;
        text-align: center;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .about-text2 {
        display: none;
    }

}